body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffe6e6;
}

canvas {
    border: 2px solid black;
    display: block;
    margin: auto;
    background-color: white;
}

.hidden {
    display: none;
}

#win-message {
    margin-top: 20px;
    font-size: 20px;
    color: #ff3366;
}
